<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Project</title>
    <meta charset="UTF-8"/>
</head>
<body>

<h1 th:text="'Recipe Index'"> Placeholder for Recipe Title</h1>
<table>
    <tr>
        <th>Recipe ID</th>
        <th>Description</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">placeholder for id</td>
        <td th:text="${recipe.description}">placeholder for description</td>
    </tr>
</table>
<hr/>
<table>
    <tr>
        <th>Recipe Categories</th>
    </tr>
    <!--/*@thymesVar id="categories" type="<List>guru.springframework.recipes.model.Category"*/-->
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.category}">Category goes here</td>
    </tr>
</table>
<hr/>
Page loaded at <span th:text="${#dates.format(#dates.createNow(),'MM/dd/YYYY HH:mm:ss')}">time goes here</span>
</body>
</html>