<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Project</title>
    <meta charset="UTF-8"/>
</head>
<body>

<h1 th:text="'Thymeleaf Recipe Template Executed'">Recipe Template</h1>
<table style="border: solid 1 black;">
    <tr>
        <th>Recipe ID</th>
        <th>Description</th>
    </tr>

    <tr th:each="recipe : ${recipes}">

        <td th:text="${recipe.id}"><center>placeholder for id</center></td>
        <td th:text="${recipe.description}">placeholder for description</td>
    </tr>
</table>
<br/><br/>
<table style="border: solid 1 black;">
    <tr>
        <th>Recipe Categories</th>
    </tr>
    <!--/*@thymesVar id="recipes" type="<List>guru.springframework.recipes.model.Recipe"*/-->
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.category}">Category goes here</td>
    </tr>
</table>
</body>
</html>